{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">
    <div class="global">
        <!--header-->
        <header>
            <div class="header">
                <div class="container">
                    <div class="row">
                        <article class="span12">
                            <div class="row">
                                <article class="span4">
                                    {{widget('logo', 'name', {"defaultlogo": asset('images/logo.png')})|raw}}
                                    {{widget('space', 'space', {'height': '30'})|raw}}
                                </article>
                                <article class="span8 right">
                                    {{widget('content', 'content', {content: '<ul class="toplist"><li><a href="#">Register</a></li><li>or</li><li><a href="#">Log in</a></li></ul>', lines: 'all'})|raw}}
                                    {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com', 'linkedin':'http://www.linkedin.com', 'facebook': 'https://www.facebook.com', 'twitter': 'https://twitter.com', 'youtube': 'https://www.youtube.com', 'rss': '#'})|raw}}
                                    {{widget('space', 'space', {'height': '30'})|raw}}
                                </article>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </header>
        <div id="navigation">
            <div class="container">
                <div class="row">
                    <article class="span12">                        
                        {{widget('extendednavigation', 'extendednavigation', {"align":"center"})|raw}}
                        {{widget('space', 'space', {'height': '30'})|raw}}
                    </article>
                </div>
            </div>
        </div>
        <!--content-->
        <div class="container">
            <div class="row">
                <article class="span12">
                    <div class="row">
                        <article class="span8">
                            {{widget('content', 'title1', {content: '<h2>who we are</h2>', lines: 'all'})|raw}}
                            <figure class="fleft">{{widget('image', 'image1', { 'src': asset('images/page2-img1.jpg'), 'imageWidth': '318px'})|raw}}</figure>                            
                            <div class="overflow">
                                {{widget('content', 'text1', {content: '<p class="type">Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci.</p>', lines: 'all'})|raw}}
                            </div>
                            <div class="clear"></div>
                            {{widget('content', 'text2', {content: '<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p><ul class="item-list"><li><a href="#">Sed in lacus ut enim adipiscing aliquet</a></li><li><a href="#">Nulla venenatis</a></li><li><a href="#">In pede mi, aliquet sit amet, euismod in,auctor ut, ligula</a></li><li><a href="#">Aliquam dapibus tincidunt metus</a></li><li><a href="#">Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem</a></li></ul>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '50'})|raw}}
                            
                        </article>
                        <article class="span4">
                            {{widget('content', 'title2', {content: '<h2>What we do</h2>', lines: 'all'})|raw}}
                            <figure class="fleft">{{widget('image', 'image2', { 'src': asset('images/page2-img2.jpg'), 'imageWidth': '110px'})|raw}}</figure>
                            <div class="overflow">
                                {{widget('content', 'text3', {content: '<time>Feb 05, 2014</time><p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</p>', lines: 'all'})|raw}}
                            </div>
                            <div class="clear"></div>
                            <figure class="fleft">{{widget('image', 'image3', { 'src': asset('images/page2-img3.jpg'), 'imageWidth': '110px'})|raw}}</figure>
                            <div class="overflow">
                                {{widget('content', 'text4', {content: '<time>Feb 05, 2014</time><p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</p>', lines: 'all'})|raw}}
                            </div>
                            <div class="clear"></div>
                            <figure class="fleft">{{widget('image', 'image4', { 'src': asset('images/page2-img4.jpg'), 'imageWidth': '110px'})|raw}}</figure>
                            <div class="overflow">
                                {{widget('content', 'text5', {content: '<time>Feb 05, 2014</time><p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</p>', lines: 'all'})|raw}}
                            </div>
                            <div class="clear"></div>
                            {{widget('button', 'button', {italic: false, text:'More', 'align':'widget-align-left'})|raw}}
                            {{widget('space', 'space', {'height': '50'})|raw}}
                        </article>
                    </div>

                    {{widget('content', 'title3', {content: '<h2>Meet the team</h2>', lines: 'all'})|raw}}

                    {{widget('gallery', 'team', 
                        {'showDescription': true,
                        'showTitle': true,
                        'images':
                        [
                        {'imageHeight':'531', 'imageWidth':'640', 'url':asset('/images/team/img1.jpg'), 'title':'Mark Johnson', 'description': 'Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod'},
                        {'imageHeight':'531', 'imageWidth':'640', 'url':asset('/images/team/img2.jpg'), 'title':'Patrick Pool', 'description': 'Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod'},
                        {'imageHeight':'531', 'imageWidth':'640', 'url':asset('/images/team/img3.jpg'), 'title':'Bradley Grosh', 'description': 'Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod'},
                        {'imageHeight':'531', 'imageWidth':'640', 'url':asset('/images/team/img4.jpg'), 'title':'Alan Smith', 'description': 'Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod'}
                        ]
                    })|raw}}

                    {{zone('main')|raw}}

                </article>
            </div>
        </div>
        <!--footer-->
        <footer>
            <div class="container">
                <div class="row">
                    <section class="span12">
                        <div class="indent">
                            {{widget('companyname', 'companyname', {"business": "Kit Car Building"})|raw}}
                            {{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'© Copyright 2014. All rights reserved'})|raw}}
                        </div>
                    </section>
                </div>
            </div>
        </footer>
    </div>    
</div>

{% endblock %}